ReleaseCandidate1/VideoStore.Business.Components/Service References/PublisherService/Common.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VideoMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopicName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoMessage" nillable="true" type="tns:VideoMessage" />
</xs:schema>